<!DOCTYPE html>
<html>
  <head>
    <title>Olympiad Parser</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>🏆 Olympiad Info Extractor</h1>
    <form id="urlForm" method="POST" action="/parse_data">
      <input
        type="text"
        name="url"
        id="url_bar"
        placeholder="Enter Olympiad URL"
        required
      />
      <button type="submit" id="transfer-data" onclick="sendUrl()">
        Parse
      </button>
    </form>
    <script>
      async function sendUrl() {
        const url = document.getElementById("url_bar").value;

        const response = await fetch("/parse_data", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ url: url }),
        })
          .then((res) => res.json())
          .then((data) => {
            document.getElementById("date_list").innerHTML = "";
            document.getElementById("bill_list").innerHTML = "";
            document.getElementById("req_list").innerHTML = "";
            document.getElementById("reward_list").innerHTML = "";
            document.getElementById("org_list").innerHTML = "";

            document.getElementById("date_list").innerHTML = data.dates
              .map((item) => `<li>${item}</li>`)
              .join("");

            document.getElementById("bill_list").innerHTML = data.billing
              .map((item) => `<li>${item}</li>`)
              .join("");

            document.getElementById("req_list").innerHTML = data.requirements
              .map((item) => `<li>${item}</li>`)
              .join("");

            document.getElementById("reward_list").innerHTML = data.rewards
              .map((item) => `<li>${item}</li>`)
              .join("");

            document.getElementById("org_list").innerHTML = data.organizers
              .map((item) => `<li>${item}</li>`)
              .join("");
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
    <div class="box">
      <h2>📅 Dates</h2>
      <ul id="date_list"></ul>
    </div>
    <div class="box">
      <h2>💳 Billing</h2>
      <ul id="bill_list"></ul>
    </div>
    <div class="box">
      <h2>📋 Requirements</h2>
      <ul id="req_list"></ul>
    </div>
    <div class="box">
      <h2>👥 Organizers</h2>
      <ul id="org_list"></ul>
    </div>
    <div class="box">
      <h2>🏅 Rewards</h2>
      <ul id="reward_list"></ul>
    </div>
  </body>
</html>
