<!DOCTYPE html>
<html>
  <head>
    <title>Olympiad Parser</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>🏆 Olympiad Info Extractor</h1>
    <form id="urlForm">
      <input
        type="text"
        id="url_bar"
        name="url"
        placeholder="Enter Olympiad URL"
      />
      <button type="submit" id="transfer-data">Parse</button>
    </form>

    <div class="box">
      <h2>📅 Dates</h2>
      <ul id="date_list"></ul>
    </div>
    <div class="box">
      <h2>💳 Billing</h2>
      <ul id="bill_list"></ul>
    </div>
    <div class="box">
      <h2>📋 Requirements</h2>
      <ul id="req_list"></ul>
    </div>
    <div class="box">
      <h2>👥 Organizers</h2>
      <ul id="org_list"></ul>
    </div>
    <div class="box">
      <h2>🏅 Rewards</h2>
      <ul id="reward_list"></ul>
    </div>

    <script>
      async function sendUrl() {
        event.preventDefault();

        const url_input = document.getElementById("url_bar").value;

        const response = await fetch("/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ url: url_input }),
        });

        const data = await response.json();
        if (data.error) {
          console.error(data.error);
          return;
        }

        function buildList(items) {
          if (!items || items.length === 0) return `<p>Not specified</p>`;
          let list = "";
          for (let i = 0; i < items.length; i++) {
            if (typeof items[i] === "string") {
              list += `<li>${items[i]}</li>`;
            } else {
              list += `<li>${items[i]["main"]}</li>`;
              let nested = "";
              for (const n of items[i]["subitems"]) {
                nested += `<li>${n}</li>`;
              }
              list += `<ul>${nested}</ul>`;
            }
          }
          return `<ul>${list}</ul>`;
        }

        document.getElementById("date_list").innerHTML = buildList(data.dates);
        document.getElementById("bill_list").innerHTML = buildList(
          data.billing
        );
        document.getElementById("req_list").innerHTML = buildList(
          data.requirements
        );
        document.getElementById("reward_list").innerHTML = buildList(
          data.rewards
        );
        document.getElementById("org_list").innerHTML = buildList(
          data.organizers
        );
      }
    </script>
    <script>
      document.getElementById("urlForm").addEventListener("submit", sendUrl);
    </script>
  </body>
</html>
