<!DOCTYPE html>
<html>
  <head>
    <title>Olympiad Parser</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>🏆 Olympiad Info Extractor</h1>
    <form method="POST" , action="/parse-data">
      <input
        type="text"
        name="url"
        id="enter_url"
        placeholder="Enter Olympiad URL"
        required
      />
      <button type="submit" id="transfer-data" onclick="parse_input()">
        Parse
      </button>
    </form>
    <script>
      function parse_input() {
        const inputElement = document.getElementById("enter_url").value;
        fetch("/parse", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ url: url })
        })
        .then(response => response.json())
        .then(data => {
          console.log("Response from Flask:", data);
        });
      }
    </script>
    {% if data %} {% if data.error %}
    <p style="color: red">Error: {{ data.error }}</p>
    {% else %}
    <div class="box">
      <h2>📅 Dates</h2>
      <ul>
        {% for d in data.dates %}
        <li>{{ d }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="box">
      <h2>💳 Billing</h2>
      <ul>
        {% for b in data.billing %}
        <li>{{ b }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="box">
      <h2>📋 Requirements</h2>
      <ul>
        {% for r in data.requirements %}
        <li>{{ r }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="box">
      <h2>🏅 Rewards</h2>
      <ul>
        {% for w in data.rewards %}
        <li>{{ w }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endif %}
  </body>
</html>
